.heading-25 {
  margin: 0;
  width: 138.5px;
  position: relative;
  font-size: inherit;
  line-height: 63px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.heading-2-history-wrapper {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-family: Lato;
}
.p,
.september {
  margin: 0;
}
.september-2023 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder19,
.tab {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tab {
  align-self: stretch;
  flex: 1;
  background-color: #1c1c1c;
  padding: 53.5px 25px 53px;
}
.backgroundborder19 {
  position: absolute;
  top: 0;
  left: calc(50% - 597.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding: 1px 0;
  color: #fe7fb6;
}
.june,
.p1 {
  margin: 0;
}
.june-2023 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder20 {
  position: absolute;
  top: 0;
  left: calc(50% - 398.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 63px 54px 65px;
  z-index: 1;
}
.july,
.p2 {
  margin: 0;
}
.july-2022 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder21 {
  position: absolute;
  top: 0;
  left: calc(50% - 199.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 63px 54px 65px;
  z-index: 2;
}
.januaray,
.p3 {
  margin: 0;
}
.januaray-2022 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder22 {
  position: absolute;
  top: 0;
  left: calc(50% - 0.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 39px 54px 40px;
  z-index: 3;
}
.p4,
.september1 {
  margin: 0;
}
.september-2021 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder23 {
  position: absolute;
  top: 0;
  left: calc(50% + 198.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 26px 54px 27px;
  z-index: 4;
}
.june1,
.p5 {
  margin: 0;
}
.june-2021 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder24 {
  position: absolute;
  top: 0;
  left: calc(50% + 397.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 63px 54px 65px;
  z-index: 5;
}
.march,
.p6 {
  margin: 0;
}
.march-2021 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder25 {
  position: absolute;
  top: 199px;
  left: calc(50% - 597.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 55px 54px 57px;
  z-index: 2;
}
.august,
.p7 {
  margin: 0;
}
.august-2020 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder26 {
  position: absolute;
  top: 199px;
  left: calc(50% - 398.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 51px 54px 53px;
  z-index: 3;
}
.july1,
.p8 {
  margin: 0;
}
.july-2020 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder27 {
  position: absolute;
  top: 199px;
  left: calc(50% - 199.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 63px 54px 65px;
  z-index: 4;
}
.june2,
.p9 {
  margin: 0;
}
.june-2020 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder28 {
  position: absolute;
  top: 199px;
  left: calc(50% - 0.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 63px 54px 65px;
  z-index: 5;
}
.may,
.p10 {
  margin: 0;
}
.may-2020 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder29 {
  position: absolute;
  top: 199px;
  left: calc(50% + 198.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 63px 54px 65px;
  z-index: 6;
}
.february,
.p11 {
  margin: 0;
}
.february-2020 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder30 {
  position: absolute;
  top: 199px;
  left: calc(50% + 397.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 38px 54px 40px;
  z-index: 7;
}
.p12,
.september2 {
  margin: 0;
}
.september-2019 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder31 {
  position: absolute;
  top: 398px;
  left: calc(50% - 199.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 26px 54px 27px;
  z-index: 6;
}
.january,
.p13 {
  margin: 0;
}
.january-2019 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.backgroundborder32 {
  position: absolute;
  top: 398px;
  left: calc(50% - 0.5px);
  background-color: #fe7fb6;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 46px 54px 47px;
  z-index: 7;
}
.heading-4,
.tablist {
  position: relative;
  max-width: 100%;
}
.tablist {
  width: 1200px;
  height: 598px;
  font-size: 24px;
}
.heading-4 {
  margin: 0;
  width: 523.9px;
  font-size: inherit;
  line-height: 39px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.coinsbeecom-product-offering,
.globe {
  margin: 0;
}
.coinsbeecom-product-offering-container1 {
  width: 100%;
}
.coinsbeecom-product-offering-container {
  width: 781px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Roboto;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.tabpanel,
.tabpanel-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.tabpanel {
  width: 860px;
  border: 1px solid #1c1c1c;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 79px 36px;
  gap: 33.5px;
  min-height: 233px;
}
.tabpanel-wrapper {
  width: 1200px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  font-size: 32px;
}
.section-wrapper,
.section2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.section2 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 39.5px 20px 50px;
  box-sizing: border-box;
  gap: 25.5px;
  z-index: 8;
}
.section-wrapper {
  align-self: stretch;
  background-color: #fe7fb6;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: 42px;
  color: #1c1c1c;
  font-family: Archivo;
}
@media screen and (max-width: 1300px) {
  .section2 {
    padding-top: 26px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .heading-25 {
    font-size: 34px;
    line-height: 50px;
  }
  .heading-4 {
    font-size: 26px;
    line-height: 31px;
  }
  .section2 {
    padding-top: 20px;
    padding-bottom: 21px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-25 {
    font-size: 25px;
    line-height: 38px;
  }
  .august-2020,
  .february-2020,
  .heading-4,
  .januaray-2022,
  .january-2019,
  .july-2020,
  .july-2022,
  .june-2020,
  .june-2021,
  .june-2023,
  .march-2021,
  .may-2020,
  .september-2019,
  .september-2021,
  .september-2023 {
    font-size: 19px;
    line-height: 23px;
  }
  .tabpanel {
    gap: 17px;
  }
}
